.chat-main__body__message--name
  = message.user.name
.chat-main__body__message--time
  = message.time
.chat-main__body__message--content
  = message.body
.chat-main__body__message--image
  = image_tag message.image
