$White: #FFFFFF;
$SkyBlue: #38AEF0;
$Black: #434A54;
$Gray: #999999;
$BlackGray: #333333;
$LightGray: #EEEEEE;
$Deepblue1: #2F3E51;
$Deepblue2: #253141;
$Orange: #FF6E00;
$xsmall:  "only screen and (max-width:500px)";
